<div id="mId<%= mark.id %>" class="grid-stack-item">
  <div class="grid-stack-item-content">
    <%= form_with model: mark, class: 'mark-form', local: false do |f| %>
      <div class="header">
        <%= f.text_field :title, class: 'title', autocomplete: 'off', placeholder: 'Enter title' %>
      </div>
    <% end %>

    <div class="control">
      <%= link_to 'Destroy', mark, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
    </div>
  </div>
</div>
